extends layout

block content
  .container
    .row
      .col-md-12
        .panel
          .panel-body
          .panel-body
            // /articles
            each article in articles
              .row
              - var id= article.articleid
                br
                .col-md-2.col-sm-3.text-center
                  a.story-title(href='/article/' + id)
                    img.img-rounded(alt='', src= article.urlToImage, style='width:150px;height:150px')
                .col-md-10.col-sm-9
                  h3(style="margin-top: 5px") #{article.title}
                  .row
                    .col-xs-9
                      h4
                        span.label.label-default #{article.author}
                      h4
                        small #{article.description}
                      h4
                        small.text-muted(style="font-family:courier,'new courier';")
                          | 2 hours ago  • 
                          a.text-muted(href='/article/' + id) Read More
                    .col-xs-3
                  br
                  br
              hr            
            // /articles
            .btn-toolbar
              .btn-group
                a.btn.btn-primary.btnNew(href='/article/new')
                  i.glyphicon.glyphicon-pencil
                  |  New
              //
                .btn-group.pull-right
                  a.btn.btn-primary.btnCancel(href='/')
                    |  More            
                    i.glyphicon.glyphicon-chevron-right
      // /col-12