extends layout

block content
  .container
    .row
      .col-md-12
        .panel
          .panel-body
          .panel-body
            // /articles
            .row
              .col-sm-6            
                h2 New Article
            br
            form(action='', method='post', role='form')
              - if (error == 'val')
                .alert.alert-danger(role="alert") All fields required, please try again
              .row
                .col-sm-6
                    .form-group
                      label(for='title') Title:
                      input#title.form-control(type='text', name='title')
                      br
                    .form-group
                      label(for='text') Text:
                      textarea#text.form-control(rows='5', name='text')

              br
              hr
              // /articles
              .btn-toolbar
                .btn-group
                  button.btn.btn-success#btnEdit(type='submit')
                    i.glyphicon.glyphicon-ok
                    |  Save
                .btn-group.pull-right
                  button.btn.btn-danger#btnCancel(href='/')
                    i.glyphicon.glyphicon-remove
                    |  Cancel
      // /col-12